<nav class=" mt-1 navbar navbar-light bg-light">
  <a class="navbar-brand" href="/">
    <img class="mx-2" src="{{url_for('static',filename='images/logo.png')}}" width="130" alt="Vocal4Local Home" loading="lazy">
  </a>

  <div class="form-inline">
    <!-- <a href=""><i class="fa fa-moon-o mx-2 fa-2x nav-icons" aria-hidden="true"></i></a> -->
    <a data-toggle="modal" data-target="#myModal"><i id="myBtn" class=" mx-2 fa fanav fa-exclamation-circle fa-2x nav-icons" aria-hidden="true"></i></a>
  </div>
</nav>

<hr class="m-0">